@font-face {
font-family: "roboto";
src:url("Roboto-Light.ttf");
}

#wrapper{
	width: 500px;
	background-image: url("back.png");
	text-align: center;
	margin: 100px auto 0 auto;
	height: 500px;
	overflow-y: auto;
}

#add, #done{
	position: relative;
	width: 200px;
	padding-top: 10px;
	height: 30px;
	background-color: white;
}

a{
	text-decoration: none;
	color: black;
	outline: none;
}

#add{
	top: 20px;
	margin-bottom: 40px;
}

#done{
	bottom: 20px;
	margin-top:  40px;
}

div{
	text-transform: uppercase;
	font-family: "roboto";
	text-align: center;
	margin: auto;
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}


.upload{
	width: 60px;
	height: 15px;
	font-size: 9pt;
	background-color: lightgray;
	padding-top: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 50px;
}

.block{
	width: 400px;
	height: 100px;
	background-color: black;
	color: gray;
	overflow-x: auto;
	white-space:nowrap;
}

#blockImages li{
	display: inline-block;
}

img{
	position: relative;
	top: 0;
	margin-top: 5px;
	height: 90px;
}