
/*Mobile Code*/

#iphone_prototype{
	position:relative;
	top:120px;
	left: 200px;
	width: 1000px;
	z-index:-1;
}

#mobile_app_background{
	position: absolute;
	left: 320px;
	z-index: 2;
	top: -10px;
}

#innerPhone{
	position: absolute;
	left: 350px;
	width: 228px;
	height: 400px;
	top: 95px;
	background-color: rgb(147, 171, 138);
}

#top{
	position: absolute;
	width: 203px;
	height: 35px;
	background-color: rgb(109, 157, 184);
	padding-top: 15px;
	padding-left: 25px;
	font-family: helvetica;
	font-size: 14pt;
	color: rgb(197, 96, 54); 
}

#navButton{
	width: 60px;
	height: 30px;
	position: absolute;
	right: 30px;
	top: 10px;
	border-radius: 10px;
	border: 2px solid rgb(197, 96, 54); 
}

#navButton div{
	width: 50px;
	height: 1px;
	position: relative;
	left: 5px;
	background-color: rgb(197, 96, 54); 
	top: 10px;
}

#setImages img{
	height: 60px;
	max-width: 100px;
	position: relative;
	margin-right: 5px;
}

#setImages{
	background-color: darkgray;
	height: 500px;
	width: 330px;
	position: absolute;
	top: 30px;
	padding: 10px;
	overflow-y: auto;
}
#navButton #a{
	top: 8px;
}

#navButton #b{
	top: 13px;
}

#navButton #c{
	top: 18px;
}

#B{
	width: 80px;
	height: 80px;
	position: absolute;
	float: left;
	left: 10px;
	top: 70px;
	border: 2px solid rgb(197, 96, 54); 
	border-radius: 10px;
	color: rgb(147, 171, 138);
	background-color: rgb(109, 157, 184);
	line-height: 80px;
	text-align: center;
	font-size: 30pt;
	font-family: helvetica;
}

#phoneText{
	width: 110px;
	height: 80px;
	position: absolute;
	float: right;
	right: 10px;
	top: 70px;
	color: rgb(0,0,0);
	font-size: 8pt;
	font-family: helvetica;
}

#commentBlocks{
	width: 180px;
	height: 200px;
	left: 12px;
	position: relative;
	top: 170px;
	font-size: 12px;
	font-family: helvetica;
	color: rgb(0,0,0);
	
}

.comment{
	clear: both;
	font-size: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.username{
	float: left;
	font-weight: bold;
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
}

.points{
	font-weight: bold;
	float: right;
	padding-left: 5px;
	padding-right: 5px;
}

.sidediv{
	width: 3px;
	height: 200px;
	background-color: rgb(109, 157, 184);
	position: absolute;
	top: 170px;
}


#commentBlocks #a, #commentBlocks #c, #commentBlocks #e, #commentBlocks #b,#commentBlocks #d{
	position: absolute;
	top: 0px;
	height: 40px;
	width: 200px;
	border: solid 1px rgb(109, 157, 184);
}

#commentBlocks #c{
	top: 80px;
}

#commentBlocks #e{
	top: 160px;
}
#commentBlocks #d{
	top: 40px;
}
#commentBlocks #b{
	top: 120px;
}


#chosenColors{
	margin: auto;
	top: 30px;
	left: 80px;
	width: 500px; 
	height: 500px; 
	position: relative; 
	border-radius: 500px;
}