
/*Mobile CSS Code*/

/*Inner mobile prototype*/

#iphone_prototype{
	position:relative;
	top:120px;
	left: 200px;
	width: 1000px;
}

#mobile_app_background{
	position: absolute;
	left: 370px;
	z-index: 2;
	top: -10px;
}

#innerPhone{
	position: absolute;
	left: 400px;
	width: 228px;
	height: 400px;
	top: 95px;
	background-color: rgb(147, 171, 138);
}

#top{
	position: absolute;
	width: 203px;
	height: 35px;
	background-color: rgb(109, 157, 184);
	padding-top: 15px;
	padding-left: 25px;
	font-family: helvetica;
	font-size: 14pt;
	color: rgb(197, 96, 54); 
}

#navButton{
	width: 60px;
	height: 30px;
	position: absolute;
	right: 30px;
	top: 10px;
	border-radius: 10px;
	border: 2px solid rgb(197, 96, 54); 
}

#navButton div{
	width: 50px;
	height: 1px;
	position: relative;
	left: 5px;
	background-color: rgb(197, 96, 54); 
	top: 10px;
}

#navButton #a{
	top: 8px;
}

#navButton #b{
	top: 13px;
}

#navButton #c{
	top: 18px;
}

#B{
	width: 80px;
	height: 80px;
	position: absolute;
	float: left;
	left: 10px;
	top: 70px;
	border: 2px solid rgb(197, 96, 54); 
	border-radius: 10px;
	color: rgb(147, 171, 138);
	background-color: rgb(109, 157, 184);
	line-height: 80px;
	text-align: center;
	font-size: 30pt;
	font-family: helvetica;
}

#phoneText{
	width: 110px;
	height: 80px;
	position: absolute;
	float: right;
	right: 10px;
	top: 70px;
	color: rgb(0,0,0);
	font-size: 8pt;
	font-family: helvetica;
}

#commentBlocks{
	width: 180px;
	height: 200px;
	left: 12px;
	position: relative;
	top: 170px;
	font-size: 12px;
	font-family: helvetica;
	color: rgb(0,0,0);
	
}

.comment{
	clear: both;
	font-size: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.username{
	float: left;
	font-weight: bold;
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
}

.points{
	font-weight: bold;
	float: right;
	padding-left: 5px;
	padding-right: 5px;
}

.sidediv{
	width: 3px;
	height: 200px;
	background-color: rgb(109, 157, 184);
	position: absolute;
	top: 170px;
}

#commentBlocks #a, #commentBlocks #c, #commentBlocks #e, #commentBlocks #b,#commentBlocks #d{
	position: absolute;
	top: 0px;
	height: 40px;
	width: 200px;
	border: solid 1px rgb(197, 96, 54);
}

#commentBlocks #c{
	top: 82px;
}

#commentBlocks #e{
	top: 164px;
}
#commentBlocks #d{
	top: 41px;
}
#commentBlocks #b{
	top: 123px;
}


/*Expandable Images Sets*/

#setImages img{
	background-color: blue;
}

#setImages{
	height: 500px;
	width: 315px;
	top: 30px;
	left: 30px;
	padding-right: 20px;
	padding-left: 30px;
}


/*Draggable Colors Pallete*/

#setColors{
	left: 450px;
}

/*Hover Hex IDS */

#color_ids{
	font-family:Arial, Helvetica, sans-serif;
	height:9px;
	font-size:10px;
	text-align:center;
	position: relative;
}

#color_id1{
	width:50px;
	left:-5px;
	top:4px;
	position: absolute;
}
#color_id1_rgb{
	width:100px;
	top:35px;
	left:-31px;
	position: absolute;
}
#color_id2{
	width:50px;
	left:45px;
	top:4px;
	position: absolute;
}
#color_id2_rgb{
	width:100px;
	top:35px;
	left:18px;
	position: absolute;
}
#color_id3{
	width:50px;
	left:95px;
	top:4px;
	position: absolute;
}
#color_id3_rgb{
	width:100px;
	top:35px;
	left:68px;
	position: absolute;
}
#color_id4{
	width:50px;
	left:145px;
	top:4px;
	position: absolute;
}
#color_id4_rgb{
	width:100px;
	top:35px;
	left:120px;
	position: absolute;
}

/*Side-Droppable Boxes*/

#boxes{
	position: absolute;
	top:30px;
	left: 680px;
	width: 100px;
	height: 500px;
	font-family: Helvetica, sans-serif;
	text-align:center;
	color:rgba(255,255,255,.5);
}

.box{
	width:100px;
	height:60px;
	position: absolute;
}

#box_background1{
	background-color:rgb(147, 171, 138);

	padding-top: 20px;
	top:38px;
}
#box_background2{
	background-color:rgb(109, 157, 184);

	padding-top: 20px;
	top:156px;
}
#box_text{
	height:80px;
	background-color:rgb(0,0,0);

	line-height: 80px;
	top:271px;
}
#box_accent{
	height:80px;
	background-color:rgb(197, 96, 54);

	line-height: 80px;
	top:389px;
}
#colorline2{
	height: 510px;
	width: 4px;
	left: 50px;
	position: absolute;
	background-color: gray;
	top:0px;
}