@charset "UTF-8";
/* CSS Document */

/*Main Frame*/

body{
	background-color:rgb(227,225,225);
	height: 500px;
}

#nav{
	position: fixed;
	top: 0;
	left: 0;
	height:55px;
	width:100%;
	background-color:rgb(197,96,54);
	z-index: 3;
}

#main_nav li{
	list-style:none;
	position:relative;
	display:inline-block;
	left:34px;
	top:18px;
}

#main_nav li a{
	color:rgb(214,212,212);
	height:50px;
	padding:10px;
	border-radius:5px;
	background-color:rgba(255,255,255,.2);
	font-family:Helvetica, sans-serif;
	text-decoration:none;
	font-size:14px;
}
#main_nav a:hover{
    background-color:rgba(255,255,255,.3);
}

#main_nav .active{
	background-color: rgb(208,208,208);
	color: rgb(158,157,157);
}
#main_nav .active:hover{
	background-color: rgb(208,208,208);
}

#drop_down{
	left: 0;
	position: fixed;
	top:55px;
	width: 100%;
	z-index: 3;
}

#drop_down_img{
	display: none;
	position: absolute;
	height:62px;
	width:100%;
}
#logo{
	position:absolute;
	top:8px;
	left:20px;
}
#drop_down_text{
	display: none;
	position: absolute;
	font-family:Helvetica, sans-serif;
	top: 15px;
	left: 85px;
	font-size:14px;
	color:rgb(158,157,157);
}
#side_nav{
	position: fixed;
	top: 55px;
	width: 74px;
	height: 100%;
	z-index: 3;
	left: 0;
}

#side_nav_img{
	position: absolute;
	width:74px;
	height:100%;
	background-repeat: repeat-y;
}

#sets{
	color:#CCC;
	top:80px;
	left:20px;
	font-family:Helvetica, sans-serif;
	font-size:15px;
	position:fixed;
	z-index: 3;
}

#set_numbers li{
	list-style:none;
	left:-30px;
	position:relative;
	line-height:40px;
	color:#CCC;
	font-family:Helvetica, sans-serif;
	text-decoration:none;
	font-size:14px;
}

#set_numbers .active{
	color:#666;
}
#set_numbers li:hover{
	color:rgba(255,255,255,.2);
}
#set_numbers .active:hover{
	color:#666;
}

/*Website and Mobile shared code*/

#setImages img{
	max-height: 90px;
	width: 150px;
	position: relative;
	margin-right: 5px;
}

#setImages{
	background-color: darkgray;
	display:inline;
	position: absolute;
	padding: 10px;
	overflow-y: auto;
}

#expand{
	display: none;
	z-index: 1;
	position: absolute;
	height: 500px;
	width: 345px;
	left: 30px;
	top: 30px;
	padding: 10px;
	background-color: rgba(0,0,0,0.8);
}

#triangle-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 15px solid gray;
	border-bottom: 10px solid transparent;
	z-index: 1;
	position: absolute;
	top: 275px;
	left: 35px;
}

#triangle-right:hover{
	border-left: 15px solid rgb(227,225,225);
}	

#triangle-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 15px solid gray;
	border-bottom: 10px solid transparent;
	z-index: 1;
	position: absolute;
	top: 275px;
	left: 360px;
	display: none;
}			

#triangle-left:hover{
	border-right: 15px solid rgb(227,225,225);
}
 
/*Draggable Colors Pallete*/

#setColors{
	display: none;
	margin: auto;
	left: 425px;
	top: -4px;
	position: relative;
}

#colorline{
	height: 2px;
	width: 210px;
	left: -10px;
	position: absolute;
	background-color: gray;
	top: 25px;
}

.color{
	height: 20px;
	width: 40px;
	position: absolute;
	top: 15px;
}

#color1{
	background-color: black;
	left: 150px;
}

#color2{
	background-color: #c56036;
	left: 100px;
}

#color3{
	background-color: #93ab8a;
	left: 50px;
}

#color4{
	background-color: #6d9db8;
}