/*Upload Code */

#wrapper{
	position: relative;
	width: 800px;
	height: 500px;
	text-align: center;
	margin: 150px auto 100px auto;
	background-color: darkgray;
	padding: 10px;
	overflow-y: auto;
}

#add{
	border: 1px solid lightgray;
	width: 100px;
	height: 20px;
	text-transform: uppercase;
	font-family: helvetica, sans-serif;
	text-align: center;
	padding-top: 5px;
	margin: 0 auto 10px auto;
	color: lightgray;

}

#wrapper a{
	text-decoration: none;
	color: black;
	outline: none;
}


#wrapper ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#wrapper li{
	margin: 10px;
}

.upload{
	border: 1px solid black;
	width: 60px;
	height: 15px;
	font-size: 9pt;
	background-color: lightgray;
	margin: 10px 0 10px 0;
	padding-top: 2px;
	text-transform: uppercase;
	font-family: helvetica, sans-serif;
	text-align: center;
	float: right;
}

.block{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	display: block;
	width: 780px;
	height: 120px;
	background-color: black;
	color: gray;
	overflow-x: auto;
	white-space:nowrap;
	text-transform: uppercase;
	font-family: helvetica, sans-serif;
	z-index: 1;
}

#blockImages li{
	display: inline-block;
}

#wrapper img{
	position: relative;
	top: 0;
	margin-top: 5px;
	height: 90px;
}