
<!DOCTYPE html> 
<html>
<head>
<title>Prototype</title>
<link rel="stylesheet" href="/public/stylesheet_prototype.css" type="text/css" />
<link rel="stylesheet" href="/public/mobile_stylesheet.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" type="text/javascript"></script>    
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
<script type="text/javascript" src ="/public/javascript.js"></script>
</head>
<body>
    <div id="nav">
          <ul id="main_nav">
        <li id="images"><a href="imageselection.html">Image Selection</a></li>
        <li id="website"><a href="website_page.html">Website</a></li>
        <li id="mobile"><a href="mobile.html" class="active">Mobile</a></li>
      </ul> 
        <div id="logo">
            <img id="logo_img" src="/public/images/production_pro_logo.png" alt= "some text"></img>
        </div>
    </div> 

    <div id="drop_down">
            <img id="drop_down_img" src="/public/images/drop_down.png" alt:"some text"></img>
            <div id ="setColors">
              <div id="colorline"></div>
              <div id="color1" class="color"></div>
              <div id="color2" class="color"></div>
              <div id="color3" class="color"></div>
              <div id="color4" class="color"></div>
              
              <div id="color_ids">
      				<div id="color_id1"></div>
                    <div id="color_id1_rgb"></div>
                    <div id="color_id2"></div>
                    <div id="color_id2_rgb"></div>
                    <div id="color_id3"></div>
                    <div id="color_id3_rgb"></div>
                    <div id="color_id4"></div>
                    <div id="color_id4_rgb"></div>
      		  </div> 
            </div>
            <div id="drop_down_text">
                Drag and drop colors to make your ideal phone app!
            </div>
    </div> 
    
    <div id="side_nav">
      <img id="side_nav_img" src="/public/images/side_nav2.png" alt= "some text"></img>
    </div>
    
    <div id="sets"> Sets
      <div id="set_numbers">
          <ul id="list_numbers">
            <li id="1" class="active">1</li>
            <li id="2">2</li>
            <li id="3">3</li>
      </div> 
    </div> 
              
    <div id="iphone_prototype">
        <div id="innerPhone">
          <div id="top">
            project
            <div id="navButton">
              <div id="a"></div>
              <div id="b"></div>
              <div id="c"></div>
            </div>
          </div>
          <div id="B">B</div>
          <div id="phoneText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non luctus dolor. Vestibulum at ipsum vitae dui iaculis.</div>
          <div id="commentBlocks">
            <div id="a"><div class="username">username</div><div class="points">99</div><div class="comment">Sed lobortis lacus vel erat facilisis pulvinar. Donec est mauris, ferment.</div></div>
            <div id="b"><div class="username">username</div><div class="points">99</div><div class="comment">Sed lobortis lacus vel erat facilisis pulvinar. Donec est mauris, ferment.</div></div>
            <div id="c"><div class="username">username</div><div class="points">99</div><div class="comment">Sed lobortis lacus vel erat facilisis pulvinar. Donec est mauris, ferment.</div></div>
            <div id="d"><div class="username">username</div><div class="points">99</div><div class="comment">Sed lobortis lacus vel erat facilisis pulvinar. Donec est mauris, ferment.</div></div>
            <div id="e"><div class="username">username</div><div class="points">99</div><div class="comment">Sed lobortis lacus vel erat facilisis pulvinar. Donec est mauris, ferment.</div></div>
          </div>

        </div>
     	  <img id="mobile_app_background" src="/public/images/blank_iphone.png" width="286px" height="585px"></img>  
        <div id="expand"></div> 
        <div id="setImages"></div>
        <div id="chosenColors">
          <div id="container1" class="slice"><div id ="slice1" class="slice"></div></div>
          <div id="container2" class="slice"><div id="slice2" class="slice"></div></div>
          <div id="container3" class="slice"><div id="slice3" class="slice"></div></div>
          <div id="container4" class="slice"><div id="slice4" class="slice"></div></div>
        </div>
    </div> 
   
 
</body>
</html>
