@charset "UTF-8";
/* CSS Document */

body{
	background-color:rgb(227,225,225);
	position:relative;
	display:block;
	width:100%;
	padding:0px;
	margin:0px;
}
#nav{
	display:block;
	height:55px;
	width:100%;
	position:fixed;
	z-index:1;
	background-color:rgb(197,96,54);
}
#main_nav li{
	list-style:none;
	position:relative;
	display:inline-block;
	left:33px;
	top:14px;
}
#main_nav li a{
	color:rgb(214,212,212);
	height:50px;
	padding:10px;
	border-radius:5px;
	background-color:rgba(255,255,255,.2);
	font-family:Helvetica, sans-serif;
	text-decoration:none;
	font-size:14px;
	
}
#main_nav a:hover{
    background-color:rgba(255,255,255,.3);
}
#main_nav .active{
	background-color: rgb(208,208,208);
	color: rgb(158,157,157);
}
#main_nav .active:hover{
	background-color: rgb(208,208,208);
}

#drop_down_img{
	top:55px;
	left:73px;
	display:block;
	position:fixed;
	height:70px;
	width:100%;
	z-index:1;

}
#logo{
	position:fixed;
	z-index:1;
	top:10px;
	left:17px;
}
#drop_down_text{
	font-family:Helvetica, sans-serif;
	font-size:14px;
	position:fixed;
	color:rgb(158,157,157);
	left:85px;
	top:70px;
	z-index:1;
}
#side_nav{
	width:100%;
	position:fixed;
	display:block;
	left:-1px;
	top:55px;

}
#sets{
	color:#CCC;
	top:80px;
	left:20px;
	font-family:Helvetica, sans-serif;
	font-size:15px;
	position:fixed;
}
#set_numbers li{
	list-style:none;
	left:-30px;
	position:relative;
	line-height:40px;
}
#set_numbers li a{
	color:#CCC;
	font-family:Helvetica, sans-serif;
	text-decoration:none;
	font-size:14px;
}
#set_numbers .active{
	color:#666;
}
#set_numbers a:hover{
	color:rgba(255,255,255,.2);
}
#set_numbers .active:hover{
	color:#666;
}
#mobile_app_background{
	position:relative;
	top:120px;
	display:block;
	margin-left:auto;
	margin-right:auto;

}
#iphone_nav{
	font-family:Helvetica, sans-serif;
	font-size:16px;
	position:relative;
	color:#9F6;
	display:block;
	margin-right:auto;
	margin-left:auto;
	background-color:#0FF;
}
#web_app_background{
	position:relative;
	top:65px;
	display:block;
	margin-left:auto;
	margin-right:auto;

}